*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:cursive;
    


  
}

/*:root {
  AZUL OSCURO: #2E4E7D;
  AMARILLO :#FFE632 ;
  CELESTE:#92E2D4 ; Comic Sans, Impact
}*/

body{
background-position: center;
  background-size: cover;
  background-attachment: fixed;

  
}
html{
    scroll-behavior: smooth;
}

/* MENU CON OPCIONES */

header{
    width: 100%;
    height: 100%;
}

nav{
    background-color: #363E43   ;
    padding: 0px 30px 0px 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    box-shadow: 0px 1px 3px  black;
    
   
    
}

nav img{
    width: 150px;
    display: inline-block;
    position: relative;
    left: 20px;
   
    
}
nav ul li {
   list-style: none;
   font-size: 17px;
   position: relative;
   top: 10px;
   

}

a{
    text-decoration: none;
    color: #ccc;
    font-variant: normal;
    font-size: 16px;
    font-weight: 500;
    
}

.redes{
    display: flex;
    flex-direction: row;
    
}

.icon{
    margin: 0 10px;
    cursor: pointer;
    color:white;
    
}
.icon:hover{
    color: #fee46d;
    transition: all 0.3s;
}

.anclas{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}

ul a{
    margin: 0 10px;
}
ul a:hover{
    color: #fee46d;
    text-decoration: none;
    transition: all 0.3s;
}

.butonimg{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.butonimg img{
    left: 60px;
}

.showw{
    visibility: hidden;
    color: black;
}


.imagen{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 410px;
}



.cajon1{
    padding: 15px 0px 3px 0px;
    background-color: black;
    opacity: 80%;
    color:white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}
.cajon1:hover{
    color: white;
    opacity: 90%;
    transition: all 0.5s; 

}
.niños{
    display: flex;
    flex-direction: column;
    margin: 40px 40px 0px 40px;
}
.Juan, .Maria, .Arturo{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #363E43;
  color: white;
  text-shadow: 0px 0px 3px black;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 30px;
}
.Maria{
  background-color: #363E43;
}
.Arturo{
   background-color: #363E43 ;
}

.niñosfotos{
    border-radius: 50%;
    margin: 10px 40px 10px 20px;
    box-shadow: 0px 3px 5px  black;
    height: 190px;
}

.texto{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.texto h3{
    text-shadow: 0px 2px 1px black;
    color: #fee46d;
    border-bottom: 2px solid #fee46d;
    padding:5px;

}
.texto p{
    text-align: justify;
}
.Arturo:hover{
    border-left: 10px solid #fcdb4b;
    transition: all 1s;
}
.Maria:hover{
    border-left: 10px solid #fcdb4b;
    transition: all 1s;
}
.Juan:hover{
    border-left: 10px solid #fcdb4b;
    transition: all 1s;
}

.baul{
  background-color: #fee46d;
  border: none;
border: 1px solid #ccc;
}
.tarjeta{
  background-color: #2a2f2b;
  color: white;

}
.titlebaul{
    color: black;
    text-shadow: 0px 2px 2px white;


}

.titlebaul:hover{
    color: #437195;
    text-decoration: none;

}

.flotante{
    position: absolute;
    left: 0;

}
.icon-question{
    color: #fee46d;
}
.flotante p{
    font-size: 25px;
    font-weight: 600;
    color: white;
    background-color: #363E43;
    padding: 10px 50px 10px 30px;
    margin: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-shadow: 0px 2px 3px black;
}

.flotante p:hover{
    color:white;
}

.flotanteuno{
    position: absolute;
    width: 50%;
    left: 25%;
    right: 25%;
    text-align: center;

}
.icon-user{
    color: #fee46d;
}
.icon-user:hover{
    color: #2C88F3;
}
.icon-question:hover{
    color: #fee46d;
}

.icon-book{
    color: #fee46d;
}
.icon-book:hover{
    color: #fee46d;
}

.imagenp{
    background-image: url('./imagenes/preguntas.jpg');
}

.contentpreguntas{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #363E43;
    opacity: 100%;
    border-radius:10px;
}

.contentpreguntas h2{
    font-size: 35px;
    font-weight: 600;
    color: #fee46d;
    padding:10px;
    margin-bottom: 5px;
}

.contentpreguntas input{
    border: none;
    outline: none;
    background:#2b3338;
    color: white;
    padding:10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: 600;
}

.contentpreguntas button{
    border: 1px solid black;
    outline: none;
    margin: 0px 300px 0px 300px;
    background: none;
    padding:10px;
    border-radius: 5px;
    color: black;
    margin-bottom: 15px;
    
}

.contentpreguntas button:hover{
    background-color: #fee46d;
    transition: all 0.5s;
}
.textp{
    color: rgb(36, 36, 36);
    border-bottom: 2px solid #1f2529;
    border-top: 2px solid #1f2529;
    margin: 0px 50px 0px 50px;
    padding:10px
}

.calificacion{
    color: white;
    font-size: 19px;
    padding:10px;

    
}
.footanclas{
    
    text-decoration: none;
    background-color: #272d31;
    padding:9px;
    
    
 
}
.footanclas:hover{
    text-decoration: none;
    background-color: #fee46d;
    color: #363E43;
    transition: all 0.5s;
}
@media screen and (max-width: 800px){
    
   
    nav{
        flex-direction: column;
        height: 100%;
    }
    .butonimg img{
        width: 150px;
        top: 0px;
        left: 0;

    }
    .butonimg{
        order: -1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        
        

    }
    .showw{
        visibility: visible;
        font-size: 28px;

    }
    nav .redes{
        margin: 15px;
        margin-bottom: 30px;
        display: none;
    }

    nav .anclas{
        
        border-top: 2px solid rgb(66, 64, 64);
        display: none;
        
    }

    nav .anclas a{
        display: inline-block;
        text-align: center;
        margin: 10px;
        padding: 10px;
        
        
    }
    .btn{
        color:white;
        padding: 10px;
    }
    .btn:hover{
        color:#ccc;
    }
    nav .anclas.show{
      display: flex;
     

}
nav .redes.show{
    display: flex; 
}

.fondos{
    height: 300px;
}

.Juan, .Maria, .Arturo{
    flex-direction: column;

}
.texto{
   margin-right: 0;
   padding: 10px;
   text-align: center;
}
.texto h3{
    padding: 5px;
}
.Juan:hover{
    border-left:hidden;
}

.Maria:hover{
    border-left:hidden;
}

.Arturo:hover{
    border-left:hidden;
}

.titlebaul{
    color:black;
}

.titlebaul:hover{
    color: #437195;

}
.contentpreguntas button{
    margin: 0;
}
.contentpreguntas p{
  
    margin: 0;
    margin-top: 15px;
     }
      }